include /mixins/forms.pug

doctype html
html(lang='en')
  head
   title= 'Task Manager'
   script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-md.navbar-ligth.bg-faded
      a.navbar-brand(href="/") Task Manager
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#collapsibleNavbar
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href=urlForRouter('users')) Users
        ul.navbar-nav.navbar-right
          if isSignedIn()
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false')
                | #{userFullName}
              ul.dropdown-menu(aria-labelledby="dropdownMenuButton" role='menu')
                li.dropdown-item
                  a.nav-link(href=`/users/${userId}/edit`) Edit
                li.dropdown-item
                  form.form-inline(action=`/users/${userId}?_method=delete` method='post')
                    .form-group
                      input.nav-link.btn.btn-link(value='Delete' type='submit')              
            li.nav-item              
              form.float-xs-right.navbar-form(action=`${urlForRouter('session')}?_method=delete` method='post' rel='nofollow')
                .form-group
                  input.nav-link.btn.btn-link(value='Sign Out' type='submit')
          else
            li.nav-item
              a.nav-link(href=urlForRouter('newSession')) Sign In
            li.nav-item
              a.nav-link(href=urlForRouter('newUser')) Sign Up
    .container
      - const msg = flash.get() || 'Flash';
      if msg
        .alert.alert-info.m-3= msg
      block content
