include /mixins/forms.pug

doctype html
html(lang='en')
  head
   title= 'Task Manager'
   script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-md.navbar-ligth.bg-faded
      a.navbar-brand(href="/") Task Manager
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#collapsibleNavbar
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href=urlForRouter('users')) Users
        ul.navbar-nav.navbar-right
          if isSignedIn()
            li.nav-item
              //- .dropdown
              .btn-group
                a.nav-link Logged in as #{userFullName}
                a.nav-link.dropdown-toggle.dropdown-toggle-split(data-toggle='dropdown' href='#' aria-haspopup='true' aria-expanded='false')                  
                  span.sr-only Toggle Dropdown
                .dropdown-menu(aria-labelledby="dropdownMenuButton" role='menu')
                  a.dropdown-item.nav-link(href=`/users/${userId}/edit`) Edit                
                  a.dropdown-item.nav-link(href=`/users/${userId}` data-method='delete' rel='nofollow' data-confirm='Are you sure you want to delete?') Delete                  
            li.nav-item
              a.nav-link(href= urlForRouter('session') data-method='delete' rel='nofollow' data-confirm='You want to log out?') Sign Out              
          else
            li.nav-item
              a.nav-link(href=urlForRouter('newSession')) Sign In
            li.nav-item
              a.nav-link(href=urlForRouter('newUser')) Sign Up
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
      block content
