include /mixins/forms.pug

doctype html
html(lang='en')
  head
   title= 'Task Manager'
   script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href="/") Task Manager
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#collapsibleNavbar
        ul.navbar-nav.mr-auto
          if isAdmin()
            li.nav-item
              a.nav-link(href=urlForRouter('users')) Users
        ul.navbar-nav
          if isSignedIn()
            li.nav-item
              //- a.nav-link(href=`${urlForRouter('session')}?_method=delete` method='post' rel='nofollow') Sign Out
              form.form-inline.float-xs-right(action=`${urlForRouter('session')}?_method=delete` method='post' rel='nofollow')
                +button('Sign Out', 'btn nav-link')
          else
            li.nav-item
              a.nav-link(href=urlForRouter('newSession')) Sign In
            li.nav-item
              a.nav-link(href=urlForRouter('newUser')) Sign Up
    div.container
      block content
