extends /layouts/application.pug

block content
  if isSignedIn()
    .row.d-flex
      .col-md-2.float-left.text-center
        .list-group.card.text-md-left
          a.list-group-item.border-1.d-inline-block.bg-ligth.text-dark(href=urlForRouter('newTask'))            
            span.d-none.d-md-inline New Task
          a.list-group-item.border-1.d-inline-block.bg-ligth.text-dark(href=`/tasks?meTask=yes`)            
            span.d-none.d-md-inline Me Tasks
      .col-md-8.border-1
        table.table.table-striped.table-bordered.rounded.jumbotron
            thead.thead-dark
              tr
                th Name
                th Assigned To
                th Status
                th Creator
            tbody
              if tasks.length === 0
                tr
                  td.text-center(colspan='4') You have not tasks!
              esle
                each task in tasks
                  tr          
                    td
                      a(href=`/tasks/${task.id}`)= task.name
                    //- td
                    if task.assigned
                      td= task.assigned.fullName
                    else
                      td -
                    td= task.status.name
                    td= task.creator.fullName
      .col-md-2.float-left.bg-ligth
        .list-group.border-1.d-flex
          span.list-group-item.text-center Filters:
          form(action='/tasks' method='get')
            .form-group.list-group-item.d-inline-block
              label Name task
              input.form-control(name='nameTask' type='text')
            .form-group.list-group-item.d-inline-block
              label Tags
              input.form-control(name='tagName' type='text')
            .form-group.list-group-item.d-inline-block
              label Status
              input.form-control(name='statusName' type='text')
            .form-group.list-group-item.d-inline-block
              label Assigned
              input.form-control(name='assignedName' type='text')
            .form-group.list-group-item.text-center
              input.btn.btn-primary(type='submit' value='Search')
